.body{
  background: #FFFFFF;
  text-align: center;
  padding: 15px;  
  font-weight: normal;
}
.app {
  padding: 70px 25px;
  background: #FFFFFF;
  text-align: left;
  margin: auto;
  width: 75%;  
  padding: 10px;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
flex-basis: 0;
flex-grow: 1;
max-width: 100%;
display: flex;
flex-direction: column;
}
.textarea {
  padding: 25px;
  height: 500px;
  background: white;
  text-align: left;  
  font-family: -BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  box-sizing: border-box;
  position: relative;
width: 100%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
flex-basis: 0;
flex-grow: 1;
max-width: 100%;
display: flex;
flex-direction: column;
}
.savebutton {
  display: block;
  width: 10%;
  border: none;
  background-color: #d8d8d8;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin-top: 25px;
}
.savebutton-active {
  display: block;
  width: 10%;
  border: none;
  background-color: #F4D03F;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.datepicker{
  padding: 15px 0px;
}
